extends layout

block content
  h1 TesTla
  hr

  h2 Charge State

  form(method="POST", action="/chargeState")
    p Charging State: 
      input(type='text', name="charging_state", value='#{charging_state}')
    p Charger Voltage:
      input(type='text', name="charger_voltage", value='#{charger_voltage}')
    p Charger Current:
      input(type='text', name="charger_actual_current", value='#{charger_actual_current}')
    p Rated Range:
      input(type='text', name="battery_range", value='#{battery_range}')
    p Projected Range:
      input(type='text', name="est_battery_range", value='#{est_battery_range}')
    p Ideal Range:
      input(type='text', name="ideal_battery_range", value='#{ideal_battery_range}')
    p Battery Percent:
      input(type='text', name="battery_level", value='#{battery_level}')
    p Charge Limit Percent:
      input(type='text', name="charge_limit_soc", value='#{charge_limit_soc}')
    p Charge Port Open:
      if (charge_port_door_open)
        input(type='checkbox', name="charge_port_door_open", CHECKED)
      else
        input(type='checkbox', name="charge_port_door_open")
    p Supercharging:
      if (fast_charger_present)
        input(type='checkbox', name="fast_charger_present", CHECKED)
      else
        input(type='checkbox', name="fast_charger_present")
    input(type='submit', value='Set')

  br
  br

  input(type='button', onclick="location.href='/chargeState'", value='Refresh')

  br
  br

  hr
  input(type="button", onclick="location.href='/'", value="Go Home")

