extends layout

block content
  h1(onclick="location.href='/'") TesTla
  hr

  h2 Drive State

  form(method="POST", action="/driveState")
    p Shift State: 
      input(type='text', name="shift_state", value='#{shift_state || "Parked"}')
    p Speed:
      input(type='text', name="speed", value='#{speed || 0}')
    p Latitude:
      input(type='text', name="latitude", value='#{latitude}')
    p Longitude:
      input(type='text', name="longitude", value='#{longitude}')
    p Compass Heading:
      input(type='text', name="heading", value='#{heading}')
    p GPS Time:
      input(type='text', name="gps_as_of", value='#{gps_as_of}')
    input(type='submit', value='Set')

  br
  br

  input(type='button', onclick="location.href='/driveState'", value='Refresh')

  br
  br

  hr
  input(type="button", onclick="location.href='/'", value="Go Home")
